<html>
    <head>
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        
    </head>
    <body>
        <header>
            <i class="fa-solid fa-list fa-2xl"></i> 
            <h1 style="margin-left: 20px;">Work</h1>
            <div class="features">
                <p><b>Home</b></p>
                
                <p><b>about</b></p>
                <p style="width:100px;"><a href="/toseerequests" style="text-decoration: none;color: white;"><b>Shop Holders</b></a></p>
                <p style="width:100px;"><a href="/users/sign-in" style="text-decoration: none;color: white;"><b>login/sign-up</b></a></p>
                <p style="width:100px;"><a href="/updates" style="text-decoration: none;color: white;"><b>Updates</b></a></p>
                <p style="width:100px; background-color: red;"><a href="/destroySession" style="text-decoration: none;color: black; "><b>Sign-Out</b></a></p>
                <!-- <p style="width:100px;background-color: red; color: black;" ><b> + Post job</b></p> -->
        </div>
        </header>
        <section class="img-scroller">
            <div class="container">
                <div class="img-container">
                    <img src="/images/images3.png" alt="" >
                    <img src="/images/jobsearch1.jpg">
                    <img src="/images/searchjob2.png" alt="">
                    

                    

                    <img src="/images/searchjob4.jpg">
                    <!-- <img src="/images/images3.png" alt=""> -->
                </div>
                
            </div>
        </section>
        <section class="jobs">
            <div class="heading">
                <i class="fa-solid fa-briefcase fa-2xl"></i>
                <h1 style="font-size: 40px;">Job Domains</h1>
            </div>
            <div class="domains">
                <a href="/page/?id=Restaurants">
                    <div class="domain-size">
                        <div class="domain-name d1">  
                        </div>
                        <h1>Restaurants<br>Salary:-5,000 - 25,000</h1>
                    </div>
                </a>
                <a href="/page/?id=Footwear">
                    <div class="domain-size">
                        <div class="domain-name d2">
                            
                        </div>
                        <h1>Footwear shops<br>Salary:-5,000 - 25,000</h1>
                    </div>
                </a>
                <a href="/page/?id=Fashion Mall">
                    <div class="domain-size">
                        <div class="domain-name d3">

                        </div>
                        <h1>Fashon Malls<br>Salary:-5,000 - 25,000</h1>
                    </div>
                </a>
                <a href="/page/?id=Mobile Stores">
                    <div class="domain-size">
                        <div class="domain-name d4">

                        </div>
                        <h1>Mobile Stores<br>Salary:-5,000 - 25,000</h1>
                    </div >
                </a>
                <a href="/page/?id=Restaurants">
                    <div class="domain-size">
                        <div class="domain-name d5">

                        </div>
                        <h1>Restaurants<br>Salary:-5,000 - 25,000</h1>
                    </div>
                </a>
                <a href="/page/?id=Medical">
                    <div class="domain-size">
                        <div class="domain-name d6">

                        </div>
                        <h1>Medical Stores<br>Salary:-5,000 - 25,000</h1>
                    </div>
                </a>
                <a href="/page/?id=Electronics">
                    <div class="domain-size">
                        <div class="domain-name d7">
                        
                        </div>
                        <h1>Electronics Shops<br>Salary:-5,000 - 25,000</h1>
                    </div>
                </a>
                <a href="/page/?id=Super Market">
                    <div class="domain-size">
                        <div class="domain-name d8">

                        </div>
                        <h1>Super Markets<br>Salary:-5,000 - 25,000</h1>
                    </div>
                </a>
                <a href="/page/?id=Fashion Mall">
                    <div class="domain-size">
                        <div class="domain-name d3">

                        </div>
                        <h1>Fashion Malls<br>Salary:-5,000 - 25,000</h1>
                    </div>
                </a>
                <a href="/page/?id=Restaurants">
                    <div class="domain-size">
                        <div class="domain-name d5">

                        </div>
                        <h1>Restaurants<br>Salary:-5,000 - 25,000</h1>
                    </div>
                </a>
                <a href="/page/?id=Footwear">
                    <div class="domain-size">
                        <div class="domain-name d2">
                        
                        </div>
                        <h1>Footwear shops<br>Salary:-5,000 - 25,000</h1>
                    </div>
                </a>
            </div>
        </section>
        <section class="details">
            <div class="detail d1">
                <i class="fa-solid fa-briefcase fa-xl"></i>
                <H1 style="margin-left: 10px;">Work management</H1>
            </div>
            <div class="detail d2">
                <h1>Company</h1>
                <p>About</p>
                <p>Careers</p>
                <p>Team</p>
                <p>About</p>
                <p>Team</p>
                <p>Careers</hp>
            </div>
            <div class="detail d3">
                <div class="d3-sub">
                    <h1>Contact Us</h1>
                    <p>Help & Support</p>
                    <p>Partner with us</p>
                    <p>Ride with us</p>
                </div>
                <div class="d3-sub">
                    <h1>Legal</h1>
                    <p>Help & Support</p>
                    <p>Cookie Policy</p>
                    <p>Privacy Policy</p>
                </div>
            </div>
            <div class="detail d4">
                <h1>Branches</h1>
                <hp>Andra Pradesh</p>
                <p>Hyderabad</p>
                <p>Banglore</p>
                <p>Delhi</p>
                <p>Mumbai</p>
                <p>Pune</p>
                <h1>589 cities  ^</h1>
            </div>
        </section>
    </body>
</html>