<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <style>
            header{
                height: 200px;
                width: 100%;
                background-color: black;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            body{
                background-color: beige;
            }
            section{
                margin-top: 25px;
                margin-left: 350px;
                margin-right: 400px;
                height: 900px;
                border: 2px solid black;
                border-radius: 5px;
                background-color: white;
            }
            section form {
                display: flex;
                flex-wrap: wrap;
            }
            section form input{
                border: 2px solid black;
                height: 30px;
                width: 300px;
                margin: 0%;
                border-radius: 5px;
            }
            section form label{
                font-size: 20px;
                margin: 0%;
            }
            section form div{
                height: 50px;
                width: 300px;
                /* border: 5px solid red; */
                margin: 25px;
            }
        </style>
    </head>
    <body>
        <header>
            <i class="fa-solid fa-circle-info  fa-2xl" style="margin-right:20px ;"></i>
            <h1>Enter Shop Details In The Form & Get Workers</h1>
        </header>
        <section>
            <form  method="post" action="/users/createShop"   enctype="multipart/form-data">
                <!-- <h1 style="text-align: center; text-decoration: underline;">Registration</h1> -->
                <div>
                    <label for="name">Full Name</label><br>
                    <input type="text" id="name" name="name" placeholder="Name">
                </div>
                <div>
                    <label for="domain">Domain Name</label><br>
                    <select id="domain" name="domain" style="border: 2px solid black; width:300px; height: 30px;border-radius: 5px;">
                        <option value="Restaurants">Restaurants</option>
                        <option value="Footwear">Footwear</option>
                        <option value="Fashion Mall">Fashion Mall</option>
                        <option value="Mobile Stores">Mobile Stores</option>
                        <option value="Medical">Medical</option>
                        <option value="Electronics">Electronics</option>
                        <option value="Super Market">Super Market</option>
                      </select>
                </div>
                <div>
                    <label for="email">Email or Username</label><br>
                    <input type="text" id="email" name="email" placeholder="Email or UserName">
                </div>
                <div>
                    <label for="password">Password</label><br>
                    <input type="text" id="password" name="password" placeholder="Enter Password">
                </div>
                
                <div>
                    <label for="phone">Contact No</label><br>
                    <input type="text" id="phone" name="phone" placeholder="Contact No">
                </div>
                <div>
                    <label for="shop">Shop Name</label><br>
                    <input type="text" id="shop" name="shop" placeholder="Shop Name">
                </div>
                <div>
                    <label for="salary">Salary Range</label><br>
                    <input type="text" id="salary" name="salary" placeholder="Salary Range">
                </div>
                <div>
                    <label for="gender">Workers Gender</label><br>
                    <input type="text" id="gender" name="gender" placeholder="Gender">
                </div>
                <div>
                    <label for="age">Workers Age-limit</label><br>
                    <input type="text" id="age" name="age" placeholder="Enter workers Age Limit">
                </div>
                <div>
                    <label for="hours">Working Hours</label><br>
                    <input type="text" id="hours" name="hours" placeholder="Enter Working Hours">
                </div>
                <div>
                    <label for="ime">Enter IME Number</label><br>
                    <input type="text" id="ime" name="ime" placeholder="Enter Shop IME Number">
                </div>
                <div>
                    <label for="avatar">Shop Photo</label>
                    <input type="file" name="avatar">
                </div>
                <div>
                    <label for="adress">Adress</label>
                    <textarea name="adress" id="adress" cols="30" rows="10" style="border: 2px solid black;"></textarea>
                </div>
                <div><input type="submit" value="submit"></div>
            </form>

        </section>
        </form>
    </body>
</html>