<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <style>
            body{
                background-color: rgb(240, 240, 199);
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .container{
                height: 500px;
                width: 400px;
                border: 2px solid black;
                background-color: white;
               border-radius: 5px;
            }
            .container form{
                margin-top: 40px;
                margin-left: 35px;
            }
            .container input{
                height: 45px;
                width: 300px;
                margin: 15px;
                
                border-radius: 5px;
            }
            form a{
                text-decoration: none;
                color: rgb(42, 42, 120);
            
            }
            .container .heading{
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="heading">
                <i class="fa-solid fa-user fa-2xl"></i>
                <h1 style="text-align: center; margin-left: 20px;">sign-in</h1>
            </div>
            <form action="/users/createSession" method="post">
                <input type="text" name="email"  placeholder="Username or Email"><br>
                <input type="text" name="password" placeholder="Password"><br>
                <input type="submit" value="submit"><br>
                <a href="#">forget password ?</a>   
                <a href="/users/sign-up" style="margin-left: 140px;">sign-up</a>
                
            </form>
        </div>
    </body>
</html>